<script type="text/javascript">
  if (window.innerWidth > 900) {
    window.doorbellOptions = {
        id: '10135',
        appKey: 'sSTZSsbXZIsaXiITPVQHhkloFXuFUy0sBo9lpl7fWU3xR9D9NJRjH1V9yZzZ6q2p',
        strings: {
          'feedback-button-text': 'Questions?',
          'feedback-textarea-placeholder': 'Send us a question or comment...'
        }
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/'+window.doorbellOptions['id']+'?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
  }
</script>
