<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Open Source Image Charts Replacement | QuickChart</title>
  {% include "meta.html" %}
  <style>
    html, body {
      margin: 0;
    }

    body {
      font-family: 'Proxima Nova Soft','Helvetica Neue',Arial,Helvetica,sans-serif;
    }

    a, a:visited {
      color: darkblue;
    }

    .centered {
      text-align: center;
    }

    .header {
      background-color: linen;
      padding: 1em;
      margin-bottom: 1em;
    }

    .container {
      margin: 0 auto;
      max-width: 1024px;
      padding: 0 1em;
    }

    .hero {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .col {
      flex: 1;
    }

    .arrowcol {
      flex: 0.2;
      color: rgba(72, 56, 74, 0.2);
      font-size: 4em;
    }

    .arrowcol:before {
      content: "➜";
    }

    .sandbox-input {
      width: 98%;
      height: 17em;

      -webkit-box-shadow: 0 0 10px rgba(255,0,0,0.2);
      -moz-box-shadow: 0 0 10px rgba(255,0,0,0.2);
    }

    .sandbox-tag {
      font-size: 10px;
      margin-bottom: 1em;
    }

    .panel {
      padding: 1em;
      margin-bottom: 2em;

      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .hl {
      background-color: #E9FF32;
    }

    .img-example {
      max-width: 100%;
    }

    pre.json {
      background-color: #eee;
      overflow: scroll;
    }

    code {
      overflow-x: scroll;
      max-width: 100%;
    }

    footer {
      color: #aaa;
      background-color: #eee;
    }

    .footer-content {
      margin: 0 auto;
      max-width: 1024px;
      padding: 1em;
    }

    .mobile-only {
      display: none;
    }
    .desktop-only {
      display: block;
    }

    @media (max-width: 400px) {
      .container {
        padding: 0 0.5em;
      }
      .hero {
        display: block;
      }
      .arrowcol {
        text-align: center;
        font-size: 3em;
      }
      .arrowcol:before {
        content: "⇣";
      }
      .mobile-only {
        display: block;
      }
      .desktop-only {
        display: none;
      }
    }
  </style>
</head>
<body>
  <div class="header centered">
    <h1>Generate a Chart Image from URL</h1>
    <p>
<!--
      Fast &amp; Reliable &middot; One URL &middot; Easy to Save &middot; Easy to Embed
-->
      <strong>Create static charts for embedding in email, SMS, reports, and more.</strong>
    </p>
    <p>
      <a href="#build-from-url">How It Works</a> &middot; <a href="#customize">Customize Your Chart</a> &middot; <a href="#chart-types">Chart Types</a> &middot; <a href="#about">Open Source</a>
    </p>
  </div>
  <div class="container">
    <div class="hero">
      <div class="col">
        <h2>
          Create a chart using an HTML image tag
        </h2>
        <p>
          <code>
      &lt;img src="https://quickchart.io/chart?width=500&amp;height=300&amp;c=<span class="hl">{type:'bar',data:{labels:['January','February','March','April', 'May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;</span>
          </code>
        </p>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'bar',data:{labels:['January\n','February','March','April', 'May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
      </div>
    </div>
    <p>
      This service is a replacement for the <a href="https://developers.google.com/chart/image/">Google Image Charts API</a>, which is scheduled to turn off on March 14, 2019.
    </p>
    <hr/>
    <h2 id="build-from-url">How It Works</h2>
    <p>
      Chart images are defined by their URLs.  Each URL contains a JSON object that includes all the data and display options. These options follow the popular open-source graphing library Chart.js.  Use the <a href="https://www.chartjs.org/docs/latest/charts/">documentation</a> to define your chart.
    </p>
    <p>
      Once you've written your JSON, render it as an image with <code class="hl">&lt;img src=&quot;https://quickchart.io/chart?c=[[insert json here]]&quot;&gt;</code>.  Try the realtime editor below:
    </p>
    <div class="hero panel">
      <div class="col">
        <textarea id="sandbox-input" class="sandbox-input">// Edit me!
{
  type: 'bar',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May'],
    datasets: [{
      label: 'Dogs',
      data: [ 50, 60, 70, 180, 190 ]
    }, {
      label: 'Cats',
      data: [ 100, 200, 300, 400, 500 ]
    }]
  }
}</textarea>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <div id="sandbox-tag" class="sandbox-tag"></div>
        <img class="img-example" id="sandbox-img"/>
      </div>
    </div>
    <h2 id="customize">Customize Your Chart</h2>
    <p>
      Let's get creative.  The example below uses custom background colors, title, legend, stacked bars, and data labels:
    </p>
    <div class="hero">
      <div class="col">
        <pre class="json">
{
  type: 'bar',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May'],
    datasets: [{
      label: 'Dogs',
      backgroundColor: 'chartreuse',
      data: [ 50, 60, 70, 180, 190 ]
    }, {
      label: 'Cats',
      backgroundColor: 'gold',
      data: [ 100, 200, 300, 400, 500 ]
    }]
  },
  options: {
    title: {
      display: true,
      text: 'Total Revenue (billions)',
      fontColor: 'hotpink',
      fontSize: 32,
    },
    legend: {
      position: 'bottom',
    },
    scales: {
      xAxes: [{stacked: true}],
      yAxes: [{stacked: true}],
    },
    plugins: {
      datalabels: {
        display: true,
        font: {
          style: 'bold',
        },
      },
    },
  },
}
        </pre>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
            <img class="img-example" src="/chart?c=
        {
          type: 'bar',
          data: {
            labels: ['January', 'February', 'March', 'April', 'May'],
            datasets: [{
              label: 'Dogs',
              backgroundColor: 'chartreuse',
              data: [ 50, 60, 70, 180, 190 ]
            }, {
              label: 'Cats',
              backgroundColor: 'gold',
              data: [ 100, 200, 300, 400, 500 ]
            }]
          },
          options: {
            title: {
              display: true,
              text: 'Total Revenue (billions)',
              fontColor: 'hotpink',
              fontSize: 32,
            },
            legend: {
              position: 'bottom',
            },
            scales: {
              xAxes: [{stacked: true}],
              yAxes: [{stacked: true}],
            },
            plugins: {
              datalabels: {
                display: true,
                font: {
                  style: 'bold',
                },
              },
            },
          },
        }
        "/>
      </div>
    </div>
    <p>
      You can use any static customization option available in Chart.js.  The best place to learn the extent of customization options is through the <a href="https://www.chartjs.org/docs/latest/configuration/">documentation</a>.
    </p>
    <p>
      A couple things to remember when customizing your chart:
      <ul>
        <li>Interactivity and animations are not supported (this service produces static images)</li>
        <li><em>We recommend that you <a href="https://meyerweb.com/eric/tools/dencoder/">URL-encode</a> the entire JSON block.</em>  If not URL-encoded, you must escape all hex characters, e.g. <code>#ff0000</code> &rarr; <code>%23ff0000</code>, or just use the <code>rgb(255, 0, 0)</code> equivalent</li>
      </ul>
    </p>
    <p>
      We also provide these additional options as query parameters:
      <ul>
        <li><code><strong>&amp;width</strong>=500</code>: Set the width of the image. Abbreviated as "w"</li>
        <li><code><strong>&amp;height</strong>=300</code>: Set the height of the image. Abbreviated as "h"</li>
      </ul>
      Combine these parameters in your query string. For example: <code>/chart?width=500&amp;height=300&amp;c={...}</code>
    </p>
    <hr/>
    <h2 id="chart-types">Chart Types</h2>
    <p>
      Customization can be very simple.  By changing <code class="hl">type: bar</code> to <code class="hl">type: line</code>, for example, we can instantly produce an equivalent line graph:
    </p>
    <div class="hero panel">
      <div class="col">
        <h3>Bar Graph</h3>
        <code>
    &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'bar'</span>,data:{labels:['January','February','March','April', 'May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
        </code>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'bar',data:{labels:['January','February','March','April', 'May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
      </div>
    </div>
    <div class="hero panel">
      <div class="col">
        <h3>Line Graph</h3>
        <code>
    &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'line'</span>,data:{labels:['January','February','March','April', 'May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
        </code>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'line',data:{labels:['January','February','March','April', 'May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
      </div>
    </div>
    <p>
      There are many other chart types as well:
    </p>
    <div class="hero panel">
      <div class="col">
        <h3>Radar Chart</h3>
        <code>
    &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'radar'</span>,data:{labels:['January','February','March','April', 'May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
        </code>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'radar',data:{labels:['January','February','March','April', 'May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
      </div>
    </div>
    <div class="hero panel">
      <div class="col">
        <h3>Pie Charts</h3>
        <code>
    &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'pie'</span>,data:{labels:['January','February','March','April', 'May'], datasets:[{data:[50,60,70,180,190]}]}}"&gt;
        </code>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'pie',data:{labels:['January','February','March','April', 'May'],datasets:[{data:[50,60,70,180,190]}]}}"/>
      </div>
    </div>
    <div class="hero panel">
      <div class="col">
        <h3>Doughnut Charts</h3>
        <code>
    &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'doughnut'</span>,data:{labels:['January','February','March','April', 'May'], datasets:[{data:[50,60,70,180,190]}]}}"&gt;
        </code>
      </div>
      <div class="arrowcol"></div>
      <div class="col">
        <img class="img-example" src="/chart?c={type:'doughnut',data:{labels:['January','February','March','April', 'May'],datasets:[{data:[50,60,70,180,190]}]}}"/>
      </div>
    </div>
    <h2 id="qr">QR codes</h2>
    <p>
      Just like the old Google Image Charts API, we also do QR codes.  Generate a QR code like so:
    </p>
    <div class="centered">
      <p>
        <code>https://quickchart.io/qr?text=Here's my text</code>
      </p>
      <p>
        <img src="/qr?text=Here's my text">
      </p>
    </div>
    <p>
      Remember the URL-encode your <code>text</code> parameter for more complex strings.  The QR endpoint produces a PNG image by default.  You may optionally set the query parameter <code>format=svg</code> for SVG format.
    </p>
    <h2 id="about">About QuickChart.io</h2>
    <p>
      QuickChart is a free service built and maintained by Ian Webster.  You may use images produced by this website for any purpose.
    </p>
    <p>
      This service was built in response to the Google Image Charts shutdown and is funded entirely by its sponsors: <a href="https://arthena.com/">Arthena</a>, <a href="https://skepticalinvestments.biz/">Skeptical Investments</a>, and <a href="https://www.zenysis.com/">Zenysis</a>.
    </p>
    <p>
      QuickChart is <a href="https://github.com/typpo/quickchart">open source</a>, dual licensed under the GNU GPLv3 and a commercial license.  This means that QuickChart is never going away; anyone can host this service with minimal resource requirements.  If you would like to modify QuickChart source code for commercial use, please <a href="mailto:ian@alioth.io">contact us</a> for a license.
    </p>
  </div>
  <footer>
    <div class="footer-content">
      &copy; Ian Webster 2019
    </div>
  </footer>
  <script>
    var input = document.getElementById('sandbox-input');
    var img = document.getElementById('sandbox-img');
    var tag = document.getElementById('sandbox-tag');
    function updateImage() {
      img.src = '/chart?c=' + encodeURIComponent(input.value);
      var lines = input.value.split('\n').filter(function(line) {
        return line.slice(0, 2) !== '//';
      });
      tag.innerHTML = '&lt;img src="https://quickchart.io/chart?c=' + lines.join('') + '"&gt;';
    }
    input.onkeyup = updateImage;
    updateImage();
  </script>
  {% include "tracking.html" %}
  {% include "feedback.html" %}
</body>
</html>
