<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charts Images from URL</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0 auto;
      max-width: 1024px;
    }

    .centered {
      text-align: center;
    }

    .hero {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .col {
      flex: 1;
    }

    .arrowcol {
      flex: 0.2;
      color: rgba(72, 56, 74, 0.63);
      font-size: 5em;
    }

    .sandbox {
      width: 98%;
      height: 20em;
    }

    .sandbox-tag {
      font-size: 10px;
    }

    .panel {
      padding: 1em;
      margin-bottom: 2em;

      -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    .hl {
      background-color: #E9FF32;
    }

    .img-example {
      max-width: 100%;
    }

    pre.json {
      background-color: #eee;
      overflow: scroll;
    }

    code {
      overflow-x: scroll;
      max-width: 100%;
    }

    @media (max-width: 400px) {
      .hero {
        display: block;
      }
    }
  </style>
</head>
<body>
  <h1 class="centered">Create a Chart Image by URL</h1>
  <p>
    This service lets you quickly generate static charts for inclusion in websites, emails, powerpoints, and more.  A single URL generates a fully customizable chart.
  </p>
  <div class="hero">
    <div class="col">
      <p>
        Creating a chart is easy.  Define your chart in an image URL:
      </p>
      <p>
        <code>
    &lt;img src="https://quickchart.io/chart?c=<span class="hl">{type:'bar',data:{labels:['January','February','March','April','May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;</span>
        </code>
      </p>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'bar',data:{labels:['January\n','February','March','April','May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
    </div>
  </div>
  <hr/>
  <h2>How it Works</h2>
  <p>
    The charts are defined by a JSON object.  The JSON object follows all the rules of popular open-source graphing library Chart.js.  Simplify follow the <a href="https://www.chartjs.org/docs/latest/charts/">documentation</a> to define your chart
  </p>
  <p>
    Once you have the JSON, render it as an image with <code class="hl">&lt;img src=&quot;https://quickchart.io/chart?c=[[insert json here]]&quot;&gt;</code>.  Try it below!
  </p>
  <div class="hero">
    <div class="col">
      <textarea id="sandbox-input" class="sandbox">
// Edit me!
{
  type: 'bar',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May'],
    datasets: [{
      label: 'Dogs',
      data: [ 50, 60, 70, 180, 190 ]
    }, {
      label: 'Cats',
      data: [ 100, 200, 300, 400, 500 ]
    }]
  }
}
      </textarea>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" id="sandbox-img"/>
      <span id="sandbox-tag" class="sandbox-tag"></span>
    </div>
  </div>
  <hr/>
  <h2>Customizing your Chart</h2>
  <p>
    You can use any <a href="https://www.chartjs.org/docs/latest/configuration/">customization options</a> that you're used to from Chart.js.  The best place to learn the extent of customization options is through the <a href="https://www.chartjs.org/docs/latest/configuration/">documentation</a>.
  </p>
  <p>
    We can get very creative.  The example below uses custom background colors, title, stacked bars, and data labels:
  </p>
  <div class="hero">
    <div class="col">
      <pre class="json">
{
  type: 'bar',
  data: {
    labels: ['January', 'February', 'March', 'April', 'May'],
    datasets: [{
      label: 'Dogs',
      backgroundColor: 'chartreuse',
      data: [ 50, 60, 70, 180, 190 ]
    }, {
      label: 'Cats',
      backgroundColor: 'gold',
      data: [ 100, 200, 300, 400, 500 ]
    }]
  },
  options: {
    title: {
      display: true,
      text: 'Total Revenue (millions)',
      fontColor: 'hotpink',
      fontSize: 32,
    },
    scales: {
      xAxes: [{stacked: true}],
      yAxes: [{stacked: true}],
    },
    plugins: {
      datalabels: {
        display: true,
        font: {
          style: 'bold',
        },
      },
    },
  },
}
      </pre>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
          <img class="img-example" src="/chart?c=
      {
        type: 'bar',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May'],
          datasets: [{
            label: 'Dogs',
            backgroundColor: 'chartreuse',
            data: [ 50, 60, 70, 180, 190 ]
          }, {
            label: 'Cats',
            backgroundColor: 'gold',
            data: [ 100, 200, 300, 400, 500 ]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Total Revenue (millions)',
            fontColor: 'hotpink',
            fontSize: 32,
          },
          scales: {
            xAxes: [{stacked: true}],
            yAxes: [{stacked: true}],
          },
          plugins: {
            datalabels: {
              display: true,
              font: {
                style: 'bold',
              },
            },
          },
        },
      }
      "/>
    </div>
  </div>
  <p>
    A couple things to remember when customizing your chart:
    <ul>
      <li>Interactivity and animations are not supported (this service produces static images)</li>
      <li><em>We recommend that you URL-encode the entire JSON block.</em>  If not URL-encoded, you must escape all hex color codes (e.g. <code>#ff0000</code> &rarr; <code>%23ff0000</code>, or just use the <code>rgb(255, 0, 0)</code> equivalent).</li>
    </ul>
  </p>
  <hr/>
  <h2>Chart Types</h2>
  <p>
    Customization can be very simple.  By changing <code class="hl">type: bar</code> to <code class="hl">type: line</code>, for example, we can instantly produce an equivalent line graph:
  </p>
  <div class="hero panel">
    <div class="col">
      <h3>Bar Graph</h3>
      <code>
  &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'bar'</span>,data:{labels:['January','February','March','April','May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
      </code>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'bar',data:{labels:['January','February','March','April','May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
    </div>
  </div>
  <div class="hero panel">
    <div class="col">
      <h3>Line Graph</h3>
      <code>
  &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'line'</span>,data:{labels:['January','February','March','April','May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
      </code>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'line',data:{labels:['January','February','March','April','May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
    </div>
  </div>
  <div class="hero panel">
    <div class="col">
      <h3>Radar Chart</h3>
      <code>
  &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'radar'</span>,data:{labels:['January','February','March','April','May'], datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"&gt;
      </code>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'radar',data:{labels:['January','February','March','April','May'],datasets:[{label:'Dogs',data:[50,60,70,180,190]},{label:'Cats',data:[100,200,300,400,500]}]}}"/>
    </div>
  </div>
  <div class="hero panel">
    <div class="col">
      <h3>Pie Charts</h3>
      <code>
  &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'pie'</span>,data:{labels:['January','February','March','April','May'], datasets:[{data:[50,60,70,180,190]}]}}"&gt;
      </code>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'pie',data:{labels:['January','February','March','April','May'],datasets:[{data:[50,60,70,180,190]}]}}"/>
    </div>
  </div>
  <div class="hero panel">
    <div class="col">
      <h3>Doughnut Charts</h3>
      <code>
  &lt;img src="https://quickchart.io/chart?c={<span class="hl">type:'doughnut'</span>,data:{labels:['January','February','March','April','May'], datasets:[{data:[50,60,70,180,190]}]}}"&gt;
      </code>
    </div>
    <div class="arrowcol">
      🡆
    </div>
    <div class="col">
      <img class="img-example" src="/chart?c={type:'doughnut',data:{labels:['January','February','March','April','May'],datasets:[{data:[50,60,70,180,190]}]}}"/>
    </div>
  </div>
  <script>
    var input = document.getElementById('sandbox-input');
    var img = document.getElementById('sandbox-img');
    var tag = document.getElementById('sandbox-tag');
    function updateImage() {
      img.src = '/chart?c=' + encodeURIComponent(input.value);
      var lines = input.value.split('\n').filter(function(line) {
        return line.slice(0, 2) !== '//';
      });
      tag.innerHTML = '&lt;img src="' + lines.join('') + '"&gt;';
    }
    input.onkeyup = updateImage;
    updateImage();
  </script>
</body>
</html>
