<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">
  <title>{% block title %}{% endblock %}</title>
  {% include "meta.html" %}
  <link rel="stylesheet" href="/css/home.css?v=20200110" />
  {% include "shared.css" %}
  {% block styles %}{% endblock %}
</head>
<body>
  {% block navbar %}
    <div class="nav">
      <div class="brand">QuickChart</div>
      <div class="nav-links">
        <ul>
          {% block nav_menu %}{% endblock %}
        </ul>
      </div>
    </div>
  {% endblock %}
  {% block content %}{% endblock %}
  <footer>
    <div class="footer-content">
      &copy; Alioth LLC 2019
      <div class="footer-right">
        <a href="#">Back to top</a>
      </div>
    </div>
  </footer>
  {% block scripts %}{% endblock %}
</body>
</html>
