<!-- Search Engine -->
<meta name="description" content="Create a chart image with one URL and embed anywhere. Open source, no watermarks.">
<meta name="image" content="https://i.imgur.com/ZOoEKpw.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Chart Images from URL | QuickChart">
<meta itemprop="description" content="Create a chart image with one URL and embed anywhere. Open source, no watermarks.">
<meta itemprop="image" content="https://i.imgur.com/ZOoEKpw.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Chart Images from URL | QuickChart">
<meta name="twitter:description" content="Create a chart image with one URL and embed anywhere. Open source, no watermarks.">
<meta name="twitter:site" content="@iwebst">
<meta name="twitter:creator" content="@iwebst">
<meta name="twitter:image:src" content="https://i.imgur.com/ZOoEKpw.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Chart Images from URL | QuickChart">
<meta name="og:description" content="Create a chart image with one URL and embed anywhere. Open source, no watermarks.">
<meta name="og:image" content="https://i.imgur.com/ZOoEKpw.png">
<meta name="og:url" content="https://quickchart.io/">
<meta name="og:site_name" content="QuickChart">
<meta name="og:type" content="website">
