{% extends 'layout.html' %}

{% block title %}Payment Successful | QuickChart{% endblock %}

{% block styles %}
<style>
.container {
  max-width: 50em;
}
</style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="header centered">
  <h1>🎉 Thanks for purchasing!</h1>
</div>
<div class="container">
  <p>
    Your commercial license is enabled.  We'll be in touch soon to introduce you to your support contact and provide an API key that you can use to bypass rate limits.
  </p>
  <p>
    <strong>Resources:</strong>
    <ul>
      <li><a href="/documentation">QuickChart documentation</a></li>
      <li><a href="https://www.chartjs.org/docs/latest/configuration/">Chart.js documentation</a></li>
      <li><a href="/documentation#chart-types">Chart examples</a></li>
      <li><a href="/documentation#parameters">API details</a></li>
    </ul>
    Other actions:
    <ul>
      <li><a href="mailto:support@quickchart.io">Contact support</a></li>
      <li><a href="/">Return to homepage</a></li>
    </ul>
  </p>
</div>
{% endblock %}
