{% extends 'layout.html' %}

{% block title %}Pricing | QuickChart{% endblock %}

{% block styles %}
<style>
body p {
  font-size: 1.2em;
}

.pricing-table-container {
  overflow-x: auto;
}

.pricing-table {
  width: 100%;
  background-color: #fffff8;
  border-collapse: collapse;
}

.pricing-table .row-header {
  font-weight: bold;
}

.pricing-table th, .pricing-table td {
  text-align: center;
  border: 1px solid #000;
  padding: 1em 0.5em;
  font-weight: normal;
}

.plan-title {
  font-size: 1.5em;
  font-weight: bold;
}

.brag-container {
  font-size: 1.2em;
  background-color: linen;
  padding: 1.2em;
}
</style>
{% endblock %}

{% block nav_menu %}
<a href="/"><li>Home</li></a>
<a href="/documentation"><li>Documentation</li></a>
<a href="/pricing" class="mobile-hide"><li>Pricing</li></a>
<a href="https://github.com/typpo/quickchart"><li>Open Source</li></a>
<a href="/documentation#faq"><li>FAQ</li></a>
<a href="mailto:support@quickchart.io" class="mobile-hide"><li>Support</li></a>
{% endblock %}

{% block content %}
<div class="header header-small">
  <div class="page-container">
    <h1>Pricing</h1>
  </div>
</div>
<div class="page-container">
  <p>
    QuickChart will always be free and open source, but we also provide a reliable hosted service so you don't need to sweat the details.  Please <a href="mailto:support@quickchart.io">contact us</a> with any questions.
  </p>
  <div class="pricing-table-container">
    <table class="pricing-table">
      <tr>
        <th></th>
        <th><span class="plan-title">Community</span><br>$0/mo</th>
        <th><span class="plan-title">Professional</span><br>$25/mo</th>
        <th><span class="plan-title">Enterprise</span><br>$40/mo</th>
      </tr>
      <tr>
        <td class="row-header">License</td>
        <td>GNU GPL v3 license</td>
        <td><span class="highlight">Full commercial usage</span></td>
        <td><span class="highlight">Full commercial usage</span></td>
      </tr>
      <tr>
        <td class="row-header">Limits</td>
        <td>Rate limit enforced<br>Short URLs last 3 days</td>
        <td><span class="highlight">No rate limitations</span><br>Short URLs last 6 months</td>
        <td><span class="highlight">No rate limitations</span><br>Short URLs last 1 year</td>
      </tr>
      <tr>
        <td class="row-header">Latency</td>
        <td>Higher<br>(shared server)</td>
        <td>Low<br>(dedicated servers)</td>
        <td>Low<br>(dedicated servers)</td>
      </tr>
      <tr>
        <td class="row-header">Support</td>
        <td>Best-effort email support</td>
        <td>Priority support<br>Personal point of contact</td>
        <td>Priority support<br>Personal point of contact</td>
      </tr>
      <tr>
        <td class="row-header">SLA</td>
        <td>None</td>
        <td>None</td>
        <td><a href="/docs/SLA.pdf">QuickChart SLA</a></td>
      </tr>
      <tr>
        <td></td>
        <td>No signup required</td>
        <td>
          <button
            style="background-color:#6772E5;color:#FFF;padding:16px 24px;border:0;border-radius:4px;font-size:1em;cursor:pointer;font-weight:bold"
            id="checkout-button-plan_G0HhunFNwnLLiU"
            role="link"
          >
            Subscribe
          </button>
          <div id="error-message-plan_G0HhunFNwnLLiU"></div>
        </td>
        <td>
          <button
            style="background-color:#6772E5;color:#FFF;padding:16px 24px;border:0;border-radius:4px;font-size:1em;cursor:pointer;font-weight:bold"
            id="checkout-button-plan_FzxDcjIG1vDdWD"
            role="link"
          >
            Subscribe
          </button>
          <div id="error-message-plan_FzxDcjIG1vDdWD"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="hero brag-container">
    <div class="col">
      <span class="brag">⚡ 130M+ charts rendered</span>
    </div>
    <div class="col">
      <span class="brag">✅ Built on open standards</span>
    </div>
    <div class="col">
      <span class="brag">📈 All the flexibility of Chart.js</span>
    </div>
  </div>
  {% include 'faq.html' %}
</div>
{% endblock %}

{% block scripts %}
{% include "tracking.html" %}
<script src="https://js.stripe.com/v3"></script>
<script>
(function() {
  var stripe = Stripe('pk_live_j0HvuqhekJLl5ZtRCWb6WSWC0029shZjnZ');
  var plans = ['plan_G0HhunFNwnLLiU', 'plan_FzxDcjIG1vDdWD'];
  plans.forEach(function(plan) {
    var checkoutButton = document.getElementById('checkout-button-' + plan);
    checkoutButton.addEventListener('click', function() {
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{plan: plan, quantity: 1}],

        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://quickchart.io/payment-success',
        cancelUrl: 'https://quickchart.io/',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message-' + plan);
          displayError.textContent = result.error.message;
        }
      });
    });
  });
})();
</script>
{% endblock %}
