<style>
  a, a:visited {
    color: darkblue;
  }

  code {
    overflow-x: scroll;
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;

    padding: 1em 0 0 1em;
    background-color: #eee;
  }

  .container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1em;
  }

  .centered {
    text-align: center;
  }

  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }

  @media (max-width: 600px) {
    .container {
      padding: 0 0.5em;
    }
    .mobile-only {
      display: block;
    }
    .desktop-only {
      display: none;
    }
  }
</style>
